{
  "openapi": "3.0.0",
  "info": {
    "title": "FIREla API",
    "description": "Open source, self-hosted financial data management with Beancount",
    "version": "1.0.0",
    "contact": {
      "name": "FIREla Team",
      "url": "https://firela.io"
    }
  },
  "servers": [
    {
      "url": "https://api.firela.io",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/v1/bean/accounts": {
      "get": {
        "summary": "List accounts",
        "description": "Returns all accounts with optional filtering",
        "tags": ["Accounts"],
        "security": [{"bearer": []}],
        "responses": {
          "200": {
            "description": "Accounts retrieved successfully"
          }
        }
      },
      "post": {
        "summary": "Create a new account",
        "description": "Creates a new account (Beancount Open directive)",
        "tags": ["Accounts"],
        "security": [{"bearer": []}],
        "responses": {
          "201": {
            "description": "Account created successfully"
          }
        }
      }
    },
    "/api/v1/bean/transactions": {
      "get": {
        "summary": "List transactions",
        "description": "Returns all transactions with optional filtering",
        "tags": ["Transactions"],
        "security": [{"bearer": []}],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully"
          }
        }
      },
      "post": {
        "summary": "Create a new transaction",
        "description": "Creates a new double-entry transaction",
        "tags": ["Transactions"],
        "security": [{"bearer": []}],
        "responses": {
          "201": {
            "description": "Transaction created successfully"
          }
        }
      }
    }
  },
  "tags": [
    {"name": "Accounts", "description": "Account management"},
    {"name": "Transactions", "description": "Transaction management"}
  ]
}
